/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* KEYFRAMES */
@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}


html, body {
  margin: 0;
}

/* NAVBAR */

.navbar {
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 1.2em;
}

.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 0px;
  z-index: 1;
  background-color: black;
  top: 0;
}

.navbar-container > .navbar-logo {
  width: 10%;
}

.navbar-container > .link-text {
  width: 10%;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.7s;
}

.navbar-container > .link-text:hover {
  background-color: white;
  color: black;
}

.navbar-container > a > h3 {
  text-align: center;
}

/* HERO */

.hero-button{
  border: none;
  position: absolute;
  background: transparent;
  color: rgb(70, 68, 68);
  width: 250px;
  height: 50px;
  font-size: 2em;
  opacity: .5;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

.hero-button:hover{
  cursor: pointer;
  opacity: .8;
}

.box-wrapper {
  overflow: auto;
  width: 60vw;
  height: auto;
  background-color: rgb(127, 126, 126);
  margin: 0 auto;
  margin-top: 15vh;
  -webkit-animation: fadeIn 1 2s ease-out;
  -moz-animation: fadeIn 1 2s ease-out;
  -o-animation: fadeIn 1 2s ease-out;
  animation: fadeIn 1 2s ease-out; 
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.box-wrapper > h1 {
  font-family: 'Amatic SC', cursive;
}

.box-wrapper > .content {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.6;
}

/* ABOUT ME */
h2 {
  font-family: 'Amatic SC', cursive;
}

.selfie-div > img {
  float: right;
  border-radius: 60%;
}

.text-div {
  width: 70%;
}

.certificate {
  width: 250px;
  border-radius: 15px 15px 0 0;
  opacity: 50%;
  transition: .4s;
}

.certificate:hover {
  opacity: 100%;
}

/* SKILLS */
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.skills-icons > .single-icon {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-icon > p {
  text-align: center;
}

.single-icon > svg {
  font-size: 40px;
}

.skills-text > ul {
  text-align: left;
  list-style-type: circle
}


/* CONTACT ME */

.icons-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.icons-container > a {
  width: 75px;
  height: 65px;
  text-align: center;
}

.icons-container > a > .icons {
  transition: .3s;
  color:rgb(0, 0, 0);
  font-size: 40px;
}

.icons-container > a > .icons:hover {
  font-size: 50px;
  color:rgb(255, 255, 255);
}

.contactme-quote {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding-top: 10vh;
  width: 60vw;
  margin: 0 auto;
}



