/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* KEYFRAMES */
@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}


body {
  margin: 0;
}

/* NAVBAR */

.navbar {
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 1.2em;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-container > .navbar-logo {
  width: 10%;
}

.navbar-container > .link-text {
  width: 10%;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.7s;
}

.navbar-container > .link-text:hover {
  background-color: white;
  color: black;
}

.navbar-container > a > h3 {
  text-align: center;
}

/* HERO */

.hero-button{
  border: none;
  position: absolute;
  background: transparent;
  color: rgb(70, 68, 68);
  width: 250px;
  height: 50px;
  font-size: 2em;
  opacity: .5;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

.hero-button:hover{
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.box-wrapper {
  width: 50vw;
  height: auto;
  background-color: rgb(127, 126, 126);
  margin: 0 auto;
  margin-top: 30vh;
  -webkit-animation: fadeIn 1 2s ease-out;
  -moz-animation: fadeIn 1 2s ease-out;
  -o-animation: fadeIn 1 2s ease-out;
  animation: fadeIn 1 2s ease-out;
  opacity: .90;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.box-wrapper > h1 {
  font-family: 'Amatic SC', cursive;
}

.box-wrapper > .content {
  font-family: 'Open Sans', sans-serif;
}